header {
    background-color: white;
}

.colorMenu{
    background-color: #d3e9ee;
    color: black;
    border-color: #d3e9ee;
  
}

.sizeMain{
    background-color: #d3e9ee;
    height: 100%;
}

.alignLogo{
    flex-direction: column;
    align-items: center;
}

