header {
    background-color: white;
}

.colorMenu{
    background-color: #d3e9ee;
    color: black;
    border-color: #d3e9ee;
  
}

.sizeMain{
    background-color: #d3e9ee;
    height: 100%;
}

.alignLogo{
    flex-direction: column;
    align-items: center;
}

.alignPartenaires{
    align-items: center;
}

.TitleCenter{
    margin-top: 10%;
    
}

.departementInter{
    flex-direction: row;
    justify-content: center;
}


.textCard{
    font-size:12px;
}

.sizeCard{
    height: 45rem;
}

.sizeEntetecard{
    height: 12rem;
}

.sizeEntetecard2{
    height: 9rem;
}

.sizeCard2{
    height: 30rem;
}

.sizeEntetecard3{
    height: 5rem;
}

.sizeCard3{
    height: 6rem;
}

.centerText{
    flex-direction: column;
    justify-content: center;
}